# User service for Rclone mounting
#
# Place in ~/.config/systemd/user/
# File must include the '@' (e.g. rclone@<name>.service)
# As your normal user, run 
#   systemctl --user daemon-reload
# You can now start/enable each remote by using rclone@<remote>
#   systemctl --user enable rclone@dropbox
#   systemctl --user start rclone@dropbox

[Unit]
Description=rclone: Remote FUSE filesystem for cloud storage config %i
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target 
AssertPathIsDirectory=%h/%i
Environment=RCLONE_CONFIG=%h/.config/rclone/rclone.conf

[Service]
Type=notify
ExecStart= \
  /usr/bin/rclone mount %i: %h/%i \
    --vfs-cache-mode writes \
    --vfs-cache-max-size 200M \
    --dir-cache-time 100h \
    --log-level INFO \
    --log-file /tmp/rclone-%i.log \
    --umask 022
ExecStop=/bin/fusermount -u %h/%i

[Install]
WantedBy=default.target
