configuration {
	theme: "/usr/share/rofi/themes/android_notification.rasi";
    kb-row-up: "Up,Control+k,Control+p,ISO_Left_Tab";
    kb-row-down: "Down,Control+j,Control+n";
    kb-remove-to-eol: "";
    kb-accept-entry: "Return,KP_Enter";
}
